<div class="row" data-ng-app="AngulaRails" data-ng-controller="HelloWorldController">
  <div class="col-md-6">
    <h1>Hello AngularJs</h1>
    <p>Type in the input box and watch as AngularJs updates the property through 
the magic of binding.</p>
    <input type="text" class="form-control" data-ng-model="myText">
    {{ myText }}
  </div>
</div>